/* ********************* DEBUT CSS DU SITE EN GENERAL ***************************/
@import 'https://fonts.googleapis.com/css?family=Shrikhand';
@import 'https://fonts.googleapis.com/css?family=Lobster+Two';

body{
    background-image: url(http://img.over-blog-kiwi.com/1/21/79/69/20150323/ob_b0ac09_drapeau-usa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#test{
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    
}
header{
    margin-top: 0px;
    background-image: url(../img/header.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 60%;
    width: 100%;
}
h1{
    text-align: center;
    font-size: 35px;
    font-family: 'Shrikhand', cursive;
    color: red;
}

#textacceuil{
    font-family: 'Lobster Two', cursive;
    margin-top: 6%;
    text-align: center;
    font-size: 150%;
    color: #E85B36;
    margin-left: 5%;
    margin-right: 5%;
}

.copyright{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 1rem;
    margin-top: 5%;
    height: 7%;
}

/* ********************* FIN DU CSS DU SITE EN GENERAL ***************************/