body{
    background-image: url(http://img.over-blog-kiwi.com/1/21/79/69/20150323/ob_b0ac09_drapeau-usa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#test{
    margin-left: 10%;
    margin-right: 10%;
    
}
header{
    margin-top: 0px;
    background-image: url(../img/header.jpg);
    background-repeat:no-repeat;
    background-size: contain;
    height: 60%;
    width: 100%;
}
h1{
    text-align: center;
}