/* ********************* DEBUT DU CSS DE LA BAR DE NAVIGATION ***************************/
@import 'https://fonts.googleapis.com/css?family=Chewy';

nav {
        font-family: 'Chewy', cursive;
	margin: 0px 0;
	background-color: #E85B36;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E85B36;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFFCE5;
	font-size:28px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #D13023; 
}

/* Cacher Dropdowns par défaut */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* La hauteur de la nav principale */
}
	
/*Affichage Dropdowns sur Hover*/
nav ul li:hover > ul {
	display:inherit;
}
	
nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Changer ceci afin de changer le symbole de Dropdown */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

/* ********************* FIN DU CSS DE LA BAR DE NAVIGATION ***************************/