
/* ********************* DEBUT DU CSS DE LA PAGE LOCALISATION.HTML ***************************/
#sectionlocalisation{
    margin-left: 5%;
    margin-right: 5%;
}

table, th, td {
    
    font-size: 30px;
    text-align: center;
    background-color: white;
}
/* ********************* FIN DU CSS DE LA PAGE LOCALISATION.HTML ***************************/