{% extends 'template.html.twig' %}
{% block section %}
    <section id="sectionlocalisation">
        <h1> LOCALISATION  </h1>
        
       
        
        <div id="localisationfixe">
            <h2>Les emplacements fixes</h2>
            <div>
            <iframe src="https://www.google.com/maps/d/embed?mid=1sVeRwcdKAcZ7Jp3J0Ej1jk9bJbw" width="640" height="480"></iframe>
            </div>
            <div>
                <li><a>LUNDI</a>
                    <ul>
                        <li><a href="#">MIDI</a></li>
                        <li><a href="#">SOIR</a></li>
                    </ul>        
                </li>
                
                <li><a>MARDI</a>
                    <ul>
                        <li><a href="#">MIDI</a></li>
                        <li><a href="#">SOIR</a></li>
                    </ul>        
                </li>
                
                <li><a>MERCREDI</a>
                    <ul>
                        <li><a href="#">MIDI</a></li>
                        <li><a href="#">SOIR</a></li>
                    </ul>        
                </li>
                
                <li><a>JEUDI</a>
                    <ul>
                        <li><a href="#">MIDI</a></li>
                        <li><a href="#">SOIR</a></li>
                    </ul>        
                </li>
                
                <li><a>VENDREDI</a>
                    <ul>
                        <li><a href="#">MIDI</a></li>
                        <li><a href="#">SOIR</a></li>
                    </ul>        
                </li>
            </div>
        
    </section>
{% endblock %}  