{% extends 'template.html.twig' %}
{% block section %}
    <section id="sectionlocalisation">
        <h1> LOCALISATION  </h1>
        
        
        
        
        <div id="localisationevenement">
            <h2>Les futurs evenment ou je serait</h2>
            <p>LUNDI
                        MIDI
                        SOIR
               MARDI
                        MIDI
                        SOIR
               MERCREDI
                        MIDI
                        SOIR
               JEUDI
                        MIDI
                        SOIR
               VENDREDI
                        MIDI
                        SOIR
               SAMEDI
                        MIDI
                        SOIR
               DIMANCHE
                        MIDI
                        SOIR
            </p>
        </div>
        
        
    </section>
{% endblock %}  